:root {
    --primary-color: #7F4DFF;
    --on-primary-color: white;
    --secondary-color: #FB5393;
    --background-color: #EEF1FF;
    --surface-color: #64BCAC;
    --surface-content-color: black;
    --primary-font: Nunito;
    --heading-font: "Black Han Sans";
    --fallack-font: serif;

    --time: 0.707s
}

body {
    background-color: var(--background-color);
    font-family: var(--primary-font), var(--fallack-font);
    line-height: 2;
    letter-spacing: 1.3px;
}

h1 {
    font-family: var(--heading-font), var(--fallack-font);
}

.primary-text {
    font-family: var(--heading-font), var(--fallack-font);
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.heading-text-font {
    font-family: var(--heading-font), var(--fallack-font);
}

.text-color-secondary {
    color: var(--secondary-color);
}

mark {
    background-color: var(--primary-color) !important;
    color: var(--on-primary-color);
}

.my-card {
    background-color: var(--surface-color);
    color: var(--surface-content-color);
}

.flip-cards {
    display: grid;
}

.flip-card {
    perspective: 80rem;
    max-width: 550px;

    display: flex;
    margin-left: auto;
}

.flip-card-content {
    transition: transform 1s;
    transform-style: preserve-3d;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1;
}

.flip-card:hover .flip-card-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.flip-card-front,
.flip-card-back {
    backface-visibility: hidden;

    display: flex;
    min-width: 100%;
}

.flip-card-back {
    transform: rotateY(180deg) translate(100%, 0);

    background-color: var(--surface-color);
}

.project-image {
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
}

.project-image,
.overlay-text {
    position: absolute;
}

.overlay-text {
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: var(--heading-font), var(--fallack-font);
}

.timeline {
    border-left: 2px solid #FFC850;
    padding-bottom: 30px;
    padding-top: 40px;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    margin-left: -25px;
    height: 22px;
    width: 22px;
    background-color: var(--secondary-color);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.6);
}

.timeline .space-between {
    height: 70px;
}

.timeline .container .content {
    margin-left: 20px;
    margin-top: -35px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px 10px;
    justify-content: center;
}

.skill-card {
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 8px 16px;
    font-weight: bold;
    display: flex;
    flex-flow: row;
}

.skill-image {
    margin-right: 12px;
    width: 25px;
}

.quote {
    font-size: larger;
}

.popup-dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-dialog-content {
    background-color: white;
    margin: 15% auto;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    border-radius: 10px;
}

.close-button {
    color: red;
    margin-left: auto;
    margin-bottom: 10px;
}

.close-button:hover {
    color: black;
    cursor: pointer;
}

.footer {
    background-color: var(--surface-color);
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer .container .contact-details {
    /* display: flex;
    align-content: space-between;
    width: 100%; */
}

.footer .left {
    /* align-self: left;
    flex: 1; */
}

.footer .right {
    /* align-self: right;
    flex: 1;*/
    text-align: end; 
}

.footer .container .credits {
    /* text-align: center; */
}