body {
    background-color: #EEF1FF;
    font-family: Nunito, serif;
    line-height: 2;
    letter-spacing: 1.3px;
}

h1 {
    font-family: "Black Han Sans";
}

.btn-primary {
    background-color: #8758FF !important;
    border-color: #8758FF !important;
}

.text-primary {
    color: #8758FF !important;
}

.text-color-secondary {
    color: #FB5393;
}

mark {
    background-color: #8758FF !important;
    color: white;
}