body {
    background-color: #EEF1FF;
    font-family: Nunito, serif;
}

p {
    line-height: 2;
    letter-spacing: 1.3px;
}

h1 {
    font-family: "Black Han Sans";
}

.btn-primary {
    background-color: #8758FF !important;
    border-color: #8758FF !important;
}